@font-face {
  font-family: 'DBHeavent';
	src: url('../fonts/DBHeavent.eot');
	src: url('../fonts/DBHeavent.eot') format('embedded-opentype'),
			 url('../fonts/DBHeavent.woff2') format('woff2'),
			 url('../fonts/DBHeavent.woff') format('woff'),
			 url('../fonts/DBHeavent.ttf') format('truetype'),
			 url('../fonts/DBHeavent.svg#DBHeavent') format('svg');
  font-weight: normal;
  font-style: normal;
}
